/* Common features */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1.5px;
  padding: 60px 0;
  font-size: 40px;
  text-shadow: 4px 4px #F2F2F2;
}

h2 {
  margin-bottom: 25px;
  text-shadow: 1px 1px #F2F2F2;
}

p {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0;
}

ul {
  list-style: none;
}

li {
  padding: 12px 0;
  font-size: 23px;
  font-weight: 700;
}

i {
  color: #612626;
}

input, button {
  border-radius: 8px;
  border: 2px solid rgba(93,68,68,1);
  padding: 10px 17px;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
}

button {
  background-color: #E6E6E6;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.3s;
}

#page-wrapper {
  width: 100%;
  height: 100%;
  background: rgb(230,230,230);
  background: linear-gradient(180deg, rgba(230,230,230,1) 0%, rgba(189,182,182,1) 65%, rgba(148,133,133,1) 99%, rgba(93,68,68,1) 100%);
}

.container {
  margin: 0 auto;
}

.row {
  text-align: center;
  padding: 20px 0;
}

.strikethrough {
  text-decoration: line-through;
  text-decoration-color: #612626;
}

/* Sections */

h1::before {
  content: '\f46d';
  margin-right: 50px;
}

h1::after {
  content: '\f46c';
  margin-left: 50px;
}

h1::before,
h1::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 40px;
  color: #612626;
}

button:hover {
  background-color: rgba(97, 38, 38, 0.7);
  color: #FAFAFA;
}

ul#to-do-list > li > span {
  cursor: crosshair;
}

ul#to-do-list > li > i {
  color: #612626;
  margin-left: 20px;
  cursor: pointer;
}

#console > p {
  font-size: 30px;
  font-weight: 700;
  padding: 30px 0;
}

#console > p::before {
  content: '\f101';
  margin-right: 20px;
}

#console > p::after {
  content: '\f100';
  margin-left: 20px;
}

#console > p::before,
#console > p::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 30px;
}

#console > p:hover,
#console > p:hover::before,
#console > p:hover::after {
  color: #612626;
  text-shadow: 1px 1px #F2F2F2;
  cursor: pointer;
}

/* ------------------- MEDIA QUERY ------------------- */

/* Breakpoint Small 576px sm */
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Breakpoint Medium 768px md */
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  h1 {
    font-size: 55px;
  }

  h1::before,
  h1::after {
    font-size: 50px;
  }
}

/* Breakpoint Large 992px lg */
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Breakpoint Extra Large 1200px xl */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
